*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
section{
    height: 500px;
}
.col-6{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 5%;
}
/* banner part */
.heading_text{
    position: relative;
    top: 115px;
    left: 0;
}
.col-6 .heading_text h1{
    font-weight: 700;
    font-size: 48px;
    padding: 5px 0;
    text-transform: uppercase;
}
.col-6 img{
    width: 100%;
}
.font_heading_color{
    color: #363857;
}
.font_highlight{
    color: #f68266;
}
#banner_part{
    margin: 40px;
}
.col-6 a{
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    background-image: linear-gradient(to left bottom, #f68266, #f8766e, #f86a78, #f66084, #f05792);
    transition: all 0.4s ease-out;
}
.col-6 a:hover{
    background-image: linear-gradient(to right top, #f68266, #f8766e, #f86a78, #f66084, #f05792);
}
#banner_part p{
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
}
/* about part */
#abount_part{
    margin: 40px;
}
.about_heading h1{
    margin-top: 50px;
    font-size: 48px;
    color: #363857;
    text-transform: uppercase;
}
.about_heading p{
    font-size: 14px;
    font-weight: 400;
    padding: 20px 10px 20px 0;
    line-height: 25px;
    margin: 20px 0;
}
/* work exprience */
