*{
    margin: 0;
}
ul,ol{
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
section{
    height: 500px;
}
.col-12{
    width: 90%;
    padding-left: 5%;
}
.col-6{
    width: 40%;
    float: left;
    padding-left: 5%;
}
.col-4{
    width: 28%;
    float: left;
    padding-left: 2%;
    margin-left: 2%;
}
/* nav bar part */
#nav_bar{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
    margin-bottom: 15px;
    line-height: 0;
    background: #fff;
}
#nav_bar ul{
    position: absolute;
    right: 10%;
    top: 20px;    
}
#nav_bar ul li{
    float: left;
    padding: 10px 20px;
}
#nav_bar ul li a{
    font-size: 14px;
    font-weight: 600;
    color: #696871;
    float: left;
    text-decoration: none;
    transition: all .4s ease-out;
}
#nav_bar ul li a:hover{
    color: #f68266;
}
/* banner part */
.heading_text{
    position: relative;
    top: 115px;
    left: 0;
}
.col-6 .heading_text h1{
    font-weight: 700;
    font-size: 48px;
    padding: 5px 0;
    text-transform: uppercase;
}
.col-6 img{
    width: 100%;
}
.font_heading_color{
    color: #363857;
}
.font_highlight{
    color: #f68266;
}
#banner_part{
    margin: 70px 30px;
}
.col-6 a{
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
    background-image: linear-gradient(to left bottom, #f68266, #f8766e, #f86a78, #f66084, #f05792);
    transition: all 0.4s ease-out;
}
.col-6 a:hover{
    background-image: linear-gradient(to right top, #f68266, #f8766e, #f86a78, #f66084, #f05792);
}
#banner_part p{
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
}
/* about part */
#abount_part{
    margin: 40px;
}
.about_heading h1{
    margin-top: 50px;
    font-size: 48px;
    color: #363857;
    text-transform: uppercase;
}
.about_heading p{
    font-size: 14px;
    font-weight: 400;
    padding: 20px 10px 20px 0;
    line-height: 25px;
    margin: 20px 0;
}
/* work exprience */
#work_project_part{
    background-color: #f7f9fb;
}
.work_heading{
    text-align: center;
    padding: 40px 0;
}
.work_heading h1{
    font-size: 48px;
    font-weight: 600;
    color: #363857;
    text-transform: uppercase;
}
.work_heading h1 span{
    color: #f68266;
}
/* work project */
#work_project_part{
    margin: 40px 0;
    height: 600px !important;
}
.website_link{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: -4px -7px 17px 4px rgba(221,221,221,0.98); 
    box-shadow: -4px -7px 17px 4px rgba(221,221,221,0.98);
}
.website_link img{
    width: 100%;
    border-radius: 10px;
}
.website_link a{
    text-decoration: none;
    color: #000000;
}
.website_link h2{
    font-size: 23px;
    font-weight: 600;
    padding: 15px 0;
    transition: all .4s ease-out;
}
.website_link h2:hover{
    color: #f68266;
}
.website_link p{
    font-size: 16px;
    font-weight: 400;
    color: #858585;
}
/* work inquiry */
#work_inquiry_part{
    margin: 40px 0;
    height: 200px;
}
.work_inquiry{
    width: 70%;
    height: 180px;
    line-height: 180px;
    color: #fff;
    background-image: linear-gradient(to right top, #6064df, #5d61dc, #5a5eda, #575cd7, #5459d5);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
}
.work_inquiry .work_inquiry_1{
    width: 45%;
    height: 100%;
    float: left;
    margin-left: 40px;
}
.work_inquiry .work_inquiry_1 h2{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}
.work_inquiry .work_inquiry_2{
    width: 45%; 
    height: 100%;
    float: left;
    text-align: right;
}
.work_inquiry .work_inquiry_2 a{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to left bottom, #f68266, #f8766e, #f86a78, #f66084, #f05792);
    padding: 15px 25px;
    border-radius: 5px;
    transition: all 0.4s ease-out;
}
.work_inquiry .work_inquiry_2 a:hover{
    background-image: linear-gradient(to right top, #f68266, #f8766e, #f86a78, #f66084, #f05792);
}
#stay_connected_part{
    height: 200px;
    margin: 40px 0;
}
.stay_connected{
    text-align: center;
}
.stay_connected h2{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
}
.stay_connected h4{
    color: #696871;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.stay_connected a img{
    margin-top: 10px;
    width: 60px;
}
#contact_me_part{
    padding: 40px 0;   
}
.heading_contact{
    text-align: center;
    padding: 40px 0;
}
.heading_contact h2{
    font-size: 38px;
    font-weight:700;
    color: #363857;
}
.heading_contact h2 span{
    color: #f68266;
}
.contact_me p{
    color: #696871;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.contact_me #name{
    width: 45%;
    height: 27px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}
.contact_me #email{
    width: 46%;
    height: 25px;
}
.contact_me #subject{
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
}
.contact_me #message{
    width: 100%;
    margin-bottom: 20px;
}
.contact_me button{
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #f68266;
    border-radius: 5px;
    background-image: linear-gradient(to left bottom, #f68266, #f8766e, #f86a78, #f66084, #f05792);
    transition: all 0.4s ease-out;
}
.contact_me button:hover{
    background-image: linear-gradient(to right top, #f68266, #f8766e, #f86a78, #f66084, #f05792);
}